.navbar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.navbar .sidebar__list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  font-size: 1.3rem;
  transition: ease-in 2ms;
}
